        
<div class="row align-items-center justify-content">

<div class="col-8 my-2 border-bottom pb-3">
    <h4 class="mb-1 text-secondary"> {{job.title}} </h4>
    <b>Location:</b> {{job.location}} <br>
    {% if job.salary %}
    <b>Salary:</b> {{job.salary}}
    {% endif %}
    
</div>
<div class="col-4 ">
    <a href="mailto:hello@fatihcareer.ai?subject=Application%20for%20{{job.title}}&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20resume%20linke%3A%20%3Cresume%20link%20here%3E%0D%0A%0D%0AMy%20LinkedIn%3A%20%3CLinkedIn%20here%3E" type="button" class="btn btn-outline-primary">Apply</a>
</div>
</div>